
.navbar.navbar-fixed-top
	.container
		button(type='button', data-toggle='collapse', data-target='nav.collapse').navbar-toggle
			span.icon-bar
			span.icon-bar
			span.icon-bar
		a.navbar-brand(href='#') a.i. solutions
		.nav-collapse.collapse
			ul.nav.navbar-nav
				li
					a(href='/') Home
				li.active
					a(href='/') Job Listings
				li
					a(href='/jobAdmin') Add Job

.container-fluid
	block body